<header class="pb-4 mb-8 border-b w-100">
  <h1 class="text-4xl font-bold">Demo</h1>
</header>

<div class="bg-slate-100 p-14 border border-dashed rounded-lg flex items-center justify-center">
  <div class="font-bold text-md text-slate-500 uppercase">
    Demo content area...
  </div>
</div>
